<% include header %>

<h1>New Account</h1>

<div class="row actions">
<a class="btn btn-info" href="/asset">Accounts</a>
</div>

<div class='row'>
<form method="post" role="form" class="form">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" id="name">
    </div>
    
    <div class="form-group">
        <label for="pubkey">Public Key</label>
        <input type="text" class="form-control" name="pubkey" id="pubkey">
    </div>        
    
    <div class="form-group">
        <label for="privkey">Private Key</label>
        <input type="text" class="form-control" name="privkey" id="privkey">
    </div>        
    
    <input class="btn btn-primary" type="submit" value="Create" />
</form>
</div>

<% include footer %>