<% include header %>

<h1>Assets</h1>

<div class="row actions">
<a class="btn btn-primary" href="/asset/new">New Asset</a>
</div>

<div class="row">
    <table class="table-striped table-bordered">
        <tr>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
    <% assets.forEach(function (asset) { %>
        <tr>
            <td><a href="/asset/<%= asset.id %>">View</a></td>
            <td><%= asset.name %></td>
            <td><%= asset.address %></td>
        </tr>
    <% }); %>
    </table>
</div>

<% include footer %>
